*.bat
*.sln
*.DS_Store
.svn
.vs
Binaries
DerivedDataCache
Intermediate
Saved

/Shaders
/.idea
/Build/Android/KoKey.keystore
/Build/Android/google-services.json
*.usf
*.ush
/Build/Android/Xa.keystore
/Build/Android/gradle/app/google-services.json
/Build

